body {
    margin: auto;
    text-align: center;
    margin: 0 3%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.eachUser {
    border: 1px solid black;
    flex: 0 0 20%;
    margin: 1rem;
    text-align: center;
    display: inline-block;
}

.name {
    color: #4B84CF;
    font-weight: bold;
}

.red {
    color: red;
}